.header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}

.header img {
  display: flex;
  color: MediumAquamarine;
  width: 100px;
  height: 70px;
}

.header h4 {
  display: flex;
  color: MediumAquamarine;
  width: 500px;
  height: 70px;
  padding-left: 5px;
  justify-content: flex-start;
}

.header img h4 {
  border: 2px solid black;
}

.header ul {
  display: flex;
  color: black;
  justify-content: flex-start;
}

.header li {
  display: inline-block;
  padding-left: 30px;
}

.main {
  display: flex;
  padding-top: 50px;
  border-top: 2px solid black;
}

.main .large {
  display: block;
  width: 630px;
  margin-left: 10px;
}

.large large4 {
  display: flex;
}

.large .large2 {
  width: 300px;
  display: inline-block;
  margin: 5px;
}

.large .large3 {
  width: 300px;
  display: inline-block;
  margin: 5px;
}

.main .medium {
  display: block;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.main .small {
  display: block;
  width: 240px;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
}

.large1 h4 {
  background-image: url("../images/mainstory.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin: 0px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.large2 h4 {
  background-image: url("../images/fallseason.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.large3 h4 {
  background-image: url("../images/cameraman.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.medium2 h4 {
  background-image: url("../images/catceo.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.small2 .bites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.small3 {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.small3 p {
  display: flex;
  margin: 0px;
  padding: 6px;
  border-bottom: 3px;
  border-bottom: 1px solid black;
  flex-direction: column;
}

.footer1 {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  justify-content: center;
  margin: 0px;
}

.footer1 h4 {
  display: flex;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.footer1 ul {
  display: flex;
  color: black;
}

.footer1 li {
  display: inline-block;
  padding: 5px;
  justify-content: center;
  margin: 3px;
}

.footer2 {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  margin: 0px;
  justify-content: center;
}
